body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.card {
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
    padding: 1.5rem;
}

footer {
    margin-top: auto;
}

.form-label {
    font-size: 0.9rem;
}

.form-control {
    font-size: 0.9rem;
}

.btn {
    font-size: 0.9rem;
}

h2 {
    font-size: 1.5rem;
}

.notification {
    text-align: center;
    font-size: 1rem;
    /* Font size */
    font-weight: 200;
    /* Light font weight */
    font-family: 'Arial', sans-serif;
    /* Font family */
}

/* SMS-style Notification */
.notification.error {
    color: #dc3545;
}

.notification.success {
    color: #5fe67f;
}